<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#/defectList">Summary Defects</a></li>
                <li><a href="#/recentDefects">Recent Defects</a></li>
                <li class="active"><a href="#/createNewDefect">Add New Defect</a></li>

          </ul>
        </div>
        <div class="col-sm-9">
            <h2>Add New Defect</h2><hr>
            <form class="form-horizontal" name="defectForm" ng-submit="vm.addNewDefect()" novalidate>
              <div class="form-group">
                <label class="control-label col-sm-2" for="defect-id">Defect ID:</label>
                <div class="col-sm-10 padding-top-7">
                  <input type="number" id="defect-id" class="form-control" ng-model="vm.newDefect.defectId" required></input>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="summary">Summary:</label>
                <div class="col-sm-10 padding-top-7">
                  <input type="text" id="summary" class="form-control" ng-model="vm.newDefect.summary" required></input>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="description">Description:</label>
                <div class="col-sm-10">
                  <textarea  class="form-control" id="description" ng-model="vm.newDefect.description" required>
                      </textarea>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="status">Status:</label>
                <div class="col-sm-10">
                  <select class="form-control" id="status" ng-model="vm.newDefect.status" required>
                    <option>New</option>
                    <option>Open</option>
                    <option>Developemnt</option>
                    <option>Ready to retest</option>
                    <option>Fixed</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="severity">Severity:</label>
                <div class="col-sm-10">
                  <select class="form-control" id="severity" ng-model="vm.newDefect.severity" required>
                    <option>1-Low</option>
                    <option>2-Medium</option>
                    <option>3-High</option>
                    <option>4-Very High</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="assigned-to">Assigned To:</label>
                <div class="col-sm-10 padding-top-7">
                  <input type="text" id="assigned-to" class="form-control" ng-model="vm.newDefect.assignedTo" required></input>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="detected-by">Detected By:</label>
                <div class="col-sm-10 padding-top-7">
                  <input type="text" id="detected-by" class="form-control" ng-model="vm.newDefect.detectedBy" required></input>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default" ng-disabled="!vm.newDefect.defectId || !vm.newDefect.summary || !vm.newDefect.assignedTo || !vm.newDefect.detectedBy || !vm.newDefect.description || !vm.newDefect.status || !vm.newDefect.severity">Submit</button>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>
